* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --lime: #B9F814;
    --dark-green: rgb(1, 58, 1);
}

body {
    width: 100%;
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h3 {
    font-size: 0.7rem;
}

h1 {
    font-size: 1rem;
}

p {
    font-size: 0.65rem;
    line-height: 1.5;
    color: rgb(170, 170, 170);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--dark-green);
    border-radius: 35px;
    color: var(--lime);
    font-size: 0.7rem;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

button:hover {
    color: var(--dark-green);
    background-color: var(--lime);
    box-shadow: 1px 1px 5px black;
    transform: translateY(-0.3rem);
}

.floating{
    scale: 1;
    animation: floating 2s ease infinite;
}

@keyframes floating {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

.nav-link.active {
    border-bottom: 2px solid var(--dark-green);
}

.slogan {
    display: flex;
    align-items: center;
}

.slogan img {
    height: 2rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    background-color: var(--lime);
    border-radius: 50%;
    position: relative;
}

.logo-wrapper {
    width: min-content;
}

.logo-wrapper h3 {
    width: 50%;
}

.logo::after {
    content: '';
    position: absolute;
    height: 60%;
    width: 20%;
    top: 0;
    bottom: 0;
    left: 0.4rem;
    margin: auto;
    background-color: var(--dark-green);
}

.logo::before {
    content: '';
    position: absolute;
    height: 60%;
    width: 20%;
    top: 0;
    bottom: 0;
    right: 0.4rem;
    margin: auto;
    background-color: var(--dark-green);
    border-radius: 0 0.5rem 0.5rem 0;
}

.load1::after {
    width: 85% !important;
}

.load2::after {
    width: 60% !important;
}

.load3::after {
    width: 95% !important;
}

.move-radio1 {
    left: 85% !important;
}

.move-radio2 {
    left: 60% !important;
}

.move-radio3 {
    left: 95% !important;
}

.header-top {
    width: 100%;
    display: flex;
}

.header-top-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3rem 1.3rem;
    width: 55%;
    background-color: var(--dark-green);
    padding: 0 5% 0 5%;
    /* gap: 2rem; */
}

.header-top-left .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-top-left .info:nth-of-type(3) {
    grid-column: span 2;
    grid-row: 2;
}

.header-top-left .info i {
    font-size: 0.7rem;
    color: var(--lime);
}

.header-top-right {
    width: 30%;
    background-color: var(--lime);
    padding: 0 5% 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-right::after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--lime);
    width: 2rem;
    left: -1.2rem;
    top: 0;
    border-radius: 5px 0 0 15px;
    transform: skewX(-30deg);
}

.header-top-right i {
    box-shadow: 0 0 0 3px var(--dark-green);
    background-color: var(--dark-green);
    border-radius: 50%;
    color: var(--lime);
    font-size: 0.7rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    line-height: 1.5;
    aspect-ratio: 1 / 1;
    z-index: 1;
}

.header-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    width: 100%;
}

.header-bottom ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    align-items: center;
}

.header-bottom ul li {
    font-size: 0.7rem;
    transition: color 0.2s ease-in-out;
}

.header-bottom ul li:hover {
    color: var(--lime);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 2vh 5%;
    height: 40vh;
}

.hero article .slogan {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hero article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 0.2rem;
}

.hero article p {
    margin-top: 0.2rem;
}

.hero article h1 {
    text-align: center;
}

.hero .links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.5rem;
}

.hero .links a {
    font-size: 0.7rem;
    text-decoration: none;
    color: black;
    line-height: 1.2;
    border-bottom: 2px dotted black;
}

.hero-right {
    height: 100%;
    position: relative;
    width: 50%;
    display: none;
}

.hero-right-wrapper {
    background-image: url(assets/df2301dd1b1306903c79bcf3c78f3060.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.hero-right img:nth-of-type(1) {
    position: absolute;
    height: 20%;
    bottom: 15%;
    left: -8.5%;
    z-index: 2;
}

.hero-right img:nth-of-type(2) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.banner {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    background-color: var(--dark-green);

}

.banner ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: var(--dark-green);
    padding: 0.5rem 0;
    color: white;
    font-size: 1rem;
    animation: scroll 10s linear infinite;
}

.banner ul li {
    width: 33vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner ul li p {
    color: white;
    font-size: 0.6rem;
}

.banner ul li i {
    color: var(--lime);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 3rem 10%;
    gap: 1rem;
    background-color: white;
}

.about-us .textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us .textarea .slogan {
    display: flex;
    align-items: center;
}

.about-us .textarea h1 {
    text-align: center;
    width: 60%;
}

.about-us article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.article-left {
    display: none;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 23vh);
    overflow: hidden;
    row-gap: 1rem;
}

.article-left .img-top {
    background-image: url(assets/d6b7f8b6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    grid-column: span 3;
    grid-row: 1 / 1;
    filter: grayscale(100%);
}

.article-left .img-bottom {
    background-image: url(assets/74ec3424aa72665e9bd9383b23067b4d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    grid-column: span 4;
    grid-row: 2;
    filter: grayscale(100%);
}

.article-left img {
    grid-column: 4;
    grid-row: 1;
    height: 100%;
    width: 100% !important;
    border-radius: 20px;
}

.about-us article .article-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.goal-level {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.goal-level .goal-level-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-level-slider {
    width: 100%;
    padding: 0.2rem 0;
    position: relative;
    background-color: rgb(238, 238, 238);
}

.goal-level-slider::after {
    content: '';
    position: absolute;
    background-color: var(--dark-green);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 2s ease;
}

.goal-level-slider-radio {
    height: 1.7rem;
    aspect-ratio: 1 / 1;
    background-color: var(--lime);
    position: absolute;
    top: -0.8rem;
    border-radius: 50%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 2s ease;
}

.goal-level-slider-radio .center {
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
}

.about-us article .article-right button {
    width: fit-content;
}

.ratings {
    width: 100%;
    display: flex;
}

.rating {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border-right: 1px solid black;
    padding-top: 1rem;
    width: 25%;
}

.rating img {
    width: 2rem;
    position: absolute;
    right: -1.1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ratings .rating:nth-of-type(4) {
    border-right: none;
    align-items: end;
}
.ratings .rating:nth-of-type(4) p{
    text-align: right;
}

.scubscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 8rem 20%;
}

.scubscription h1 {
    text-align: center;
}

.scubscription form {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
}

.scubscription form .input-wrapper {
    background-color: white;
    width: 80%;
    padding: 0 0.3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.scubscription form .input-wrapper i {
    background-color: var(--lime);
    color: var(--dark-green);
    height: 80%;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 1.75;
    border-radius: 50%;
    font-size: 1rem;
}

.scubscription form .input-wrapper input {
    width: 100%;
    font-size: 0.7rem;
    outline: none;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 0 0;
    width: 100%;
    background-color: white;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 90%;
    padding: 0 5% 1rem 5%;
}

.footer-wrapper {
    width: 90%;
    padding: 1rem 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

footer .logo-wrapper h3 {
    width: max-content;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 2;
}

.footer-about p {
    line-height: 1;
}

.footer-social {
    display: flex;
    gap: 1rem;
}

.footer-social a {
    background-color: var(--lime);
    height: 2rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer-social a i {
    background-color: var(--dark-green);
    color: var(--lime);
    height: 1.2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    font-size: 0.8rem;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: rgb(170, 170, 170);
}

.footer-list ul li:nth-of-type(1) {
    color: black;
}

.footer-list ul li {
    font-size: 0.65rem;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 2;
}

.footer-form form {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    width: calc(70% - 1rem);
    border-radius: 2rem;
    padding-left: 1rem;
    align-self: center;
}

.footer-form form input {
    width: 100%;
    font-size: 0.8rem;
    outline: none;
    background-color: rgb(238, 238, 238);
}

.footer-form form button {
    padding: 0.7rem 0.7rem;
    border-radius: 0 50% 50% 0;
}
.footer-form form button:hover{
    transform: translateY(0);
    box-shadow: none;
}

.footer-bottom {
    padding: 1rem 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-green);
}

.footer-bottom-right p {
    text-align: right;
}